{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clark</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="main_page">
    <div class="main_header">
        <div class="main_header_logo">
            <img class="main_header_logo_img" src="{% static 'images/main_header_logo.png' %}" alt="">
            <p class="main_header_logo_text">Clark</p>
        </div>
        <div class="main_header_btn">
            <a href="{% url 'auth' %}" class="main_header_btn_container_link">
                <div class="main_header_btn_container">
                    <p class="main_header_btn_container_text">Войти</p>
                </div>
            </a>
        </div>
    </div>
    <div class="main_container">
        <div class="main_container_left">
            <div class="main_container_left_title">
                <h1>
                    <p class="main_container_left_title_text">Корпоративный чат</p>
                    <p class="main_container_left_title_text">созданный для повышения</p>
                    <p class="main_container_left_title_text_red">производительности</p>
                </h1>
            </div>
            <div class="main_container_left_content">
                <p class="main_container_left_content_text">Подключайте нужных людей, находите все,</p>
                <p class="main_container_left_content_text">что вам нужно, и автоматизируйте рабочие процессы.</p>
                <p class="main_container_left_content_text">Это работа в Clark.</p>
            </div>
            <div class="main_container_left_btn">
                <a href="{% url 'auth' %}" class="main_container_left_btn_link">Присоединиться</a>
            </div>
        </div>
        <div class="main_container_right">
            <img class="main_container_right_img" src="{% static 'images/main_container_img.svg' %}" alt="">
        </div>
    </div>
    <div class="main_container_statistic">
        <div class="main_container_statistic_block">
            <div class="main_container_statistic_block_top">
                <p class="main_container_statistic_block_top_text">85%</p>
            </div>
            <div class="main_container_statistic_block_bottom">
                <p class="main_container_statistic_block_bottom_text">пользователей говорят, что</p>
                <p class="main_container_statistic_block_bottom_text">Clark улучшил общение</p>
            </div>
        </div>
        <div class="main_container_statistic_block">
            <div class="main_container_statistic_block_top">
                <p class="main_container_statistic_block_top_text">86%</p>
            </div>
            <div class="main_container_statistic_block_bottom">
                <p class="main_container_statistic_block_bottom_text">пользователей говорят, что</p>
                <p class="main_container_statistic_block_bottom_text">Clark улучшил общение</p>
            </div>
        </div>
        <div class="main_container_statistic_block">
            <div class="main_container_statistic_block_top">
                <p class="main_container_statistic_block_top_text">84%</p>
            </div>
            <div class="main_container_statistic_block_bottom">
                <p class="main_container_statistic_block_bottom_text">пользователей говорят, что</p>
                <p class="main_container_statistic_block_bottom_text">Clark улучшил общение</p>
            </div>
        </div>
    </div>
    <div class="main_container_about">
        <div class="main_container_about_block">
            <div class="main_container_about_block_box_left">

            </div>
            <div class="main_container_about_block_text_right">
                <div class="main_container_about_block_text_right_title">
                    <h1 class="main_container_about_block_text_right_title_text">Работайте быстрее,</h1>
                    <h1 class="main_container_about_block_text_right_title_text">собрав инструменты в одном месте</h1>
                </div>
                <div class="main_container_about_block_text_right_content">
                    <p class="main_container_about_block_text_right_content_text">Автоматизируйте рутинные задачи и упростите свой</p>
                    <p class="main_container_about_block_text_right_content_text">рабочий процесс благодаря тому, что все ваши </p>
                    <p class="main_container_about_block_text_right_content_text">любимые приложения собраны в Clark.</p>
                </div>
            </div>
        </div>
        <div class="main_container_about_block">
            <div class="main_container_about_block_text_left">
                <div class="main_container_about_block_text_right_title">
                    <h1 class="main_container_about_block_text_right_title_text">Выберите, как вы хотите работать</h1>
                </div>
                <div class="main_container_about_block_text_right_content">
                    <p class="main_container_about_block_text_right_content_text">Вы можете легко общаться в чате, отправлять аудио- и</p>
                    <p class="main_container_about_block_text_right_content_text">видеоклипы или собираться вместе, чтобы обсудить </p>
                    <p class="main_container_about_block_text_right_content_text">ситуацию в прямом эфире.</p>
                </div>
            </div>
            <div class="main_container_about_block_box_right">

            </div>
        </div>
        <div class="main_container_about_block">
            <div class="main_container_about_block_box_left">

            </div>
            <div class="main_container_about_block_text_right">
                <div class="main_container_about_block_text_right_title">
                    <h1 class="main_container_about_block_text_right_title_text">Соберите свою команду вместе</h1>
                </div>
                <div class="main_container_about_block_text_right_content">
                    <p class="main_container_about_block_text_right_content_text">В каналах проще связываться между отделами, </p>
                    <p class="main_container_about_block_text_right_content_text">офисами, часовыми поясами и даже другими </p>
                    <p class="main_container_about_block_text_right_content_text">компаниями.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_footer">
    <div class="main_footer_container">
        <div class="main_footer_container_logo">
            <div class="main_header_logo">
                <img class="main_header_logo_img" src="{% static 'images/main_header_logo.png' %}" alt="">
                <p class="main_header_logo_text">Clark</p>
            </div>
        </div>
        <div class="main_footer_container_content">
            <div class="main_footer_container_content_top">
                <p class="main_footer_container_content_top_item">
                    O компании
                </p>
                <p class="main_footer_container_content_top_item">
                    Новости
                </p>
                <p class="main_footer_container_content_top_item">
                    Блог
                </p>
                <p class="main_footer_container_content_top_item">
                    Работа
                </p>
                <p class="main_footer_container_content_top_item">
                    Офисы
                </p>
                <p class="main_footer_container_content_top_item">
                    Контакты
                </p>
                <p class="main_footer_container_content_top_item">
                    Помощь
                </p>
                <p class="main_footer_container_content_top_item">
                    Безопасность
                </p>
            </div>
            <div class="main_footer_container_content_bottom">
                <p class="main_footer_container_content_bottom_text">© 2015—2022, АО «ПОРКУПИН», официальный сайт, универсальная лицензия УЛ РФ № 2673</p>
            </div>
        </div>
        <div class="main_footer_container_icons">
            <img class="main_footer_container_icons_item" src="{% static 'images/main_icon_ok.png' %}" alt="">
            <img class="main_footer_container_icons_item" src="{% static 'images/main_icon_tg.png' %}" alt="">
            <img class="main_footer_container_icons_item" src="{% static 'images/main_icon_twitter.png' %}" alt="">
            <img class="main_footer_container_icons_item" src="{% static 'images/main_icon_vk.png' %}" alt="">
            <img class="main_footer_container_icons_item"src="{% static 'images/main_icon_youtube.png' %}" alt="">
        </div>
    </div>
</div>
</body>
</html>