{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/workspace_detail_style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<script src="{% static 'js/open_close_items.js' %}"></script>
<div class="main_workspace">
    <div class="main_workspace_header">
        <div class="empty_block">

        </div>
        <div class="header_search">
            <input type="text" class="search_input" placeholder="Поиск в проекте">
        </div>
        <div class="header_avatar">
            <img src="{% static 'images/test_avatar.png' %}" alt="" class="avatar_img">
        </div>
    </div>
    <div class="main_workspace_container">
        <div class="container_left">
            <div class="workspace_title">
                <div class="workspace_title_inner">
                    <p class="title_text">{{workspace.name}}</p>
                    <img src="{% static 'images/workspace_img_title.png' %}" alt="" class="title_img">
                </div>
            </div>
            <div class="main_navbar">
                <div class="navbar_item">
                    <a href="" class="navbar_item_text">Ответы</a>
                </div>
                <div class="navbar_item">
                    <a href="" class="navbar_item_text">Личные сообщения</a>
                </div>
                <div class="navbar_item">
                    <a href="" class="navbar_item_text">Упоминания & Реакции</a>
                </div>
            </div>
            <div class="chats_list" id="channels">
                <div class="chat_item" onclick="toggleChatList(this)">
                    <img src="{% static 'images/list_img.png' %}" alt="" class="chat_item_img list_img">
                    <p class="chat_item_text">Каналы</p>
                </div>
                <div id="chat_items">

                </div>
                <div class="chat_item open">
                    <img src="{% static 'images/add_channel_img.png' %}" alt="" class="chat_item_img add_channel">
                    <p class="chat_item_text add_channel_text">Добавить канал</p>
                </div>
            </div>
            <div class="chats_list">
                <div class="chat_item" onclick="toggleChatList(this)">
                    <img src="{% static 'images/list_img.png' %}" alt="" class="chat_item_img list_img">
                    <p class="chat_item_text">Личные сообщения</p>
                </div>
                <div class="chat_item collapsed">
                    <img src="{% static 'images/test_avatar.png' %}" alt="" class="chat_item_img avatar">
                    <p class="chat_item_text direct">Максим Караичев</p>
                </div>
                <div class="chat_item collapsed">
                    <img src="{% static 'images/test_avatar.png' %}" alt="" class="chat_item_img avatar">
                    <p class="chat_item_text direct">Иван Разаренов</p>
                </div>
                <div class="chat_item collapsed">
                    <img src="{% static 'images/test_avatar.png' %}" alt="" class="chat_item_img avatar">
                    <p class="chat_item_text direct">Дмитрий Николаев</p>
                </div>
                <div class="chat_item collapsed">
                    <img src="{% static 'images/test_avatar.png' %}" alt="" class="chat_item_img avatar">
                    <p class="chat_item_text direct">Груздев Илья</p>
                </div>
            </div>
        </div>
        <div class="container_main">
            <div class="main_header">
                <p class="header_title">оффтоп</p>
                <img src="{% static 'images/drop_down_channel_name_img.png' %}" alt="" class="header_img">
            </div>
            <div class="messages">
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_block">
                    <div class="message_block_left">
                        <img src="{% static 'images/test_avatar.png' %}" alt="" class="message_avatar">
                    </div>
                    <div class="message_block_right">
                        <div class="message_info">
                            <div class="message_author">
                                <p class="author_name">Максим Караичев</p>
                                <p class="message_created_at">26.05.23</p>
                            </div>
                            <div class="message_text">
                                <p class="message_text_inner">
                                    Сертификация также позволяет предприятиям соблюдать законодательство и регулирование в различных отраслях. Она может быть обязательной для предприятий, которые работают в чувствительных сферах, таких как медицина, пищевая промышленность или авиация
                                </p>
                            </div>
                            <div class="message_threads">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send_block">
                <input type="text" class="send_input" placeholder="Введите сообщение">
            </div>
        </div>
        <div class="container_right">

        </div>
    </div>
</div>
<script>
    const headers = new Headers();
    headers.append('Content-Type', 'application/json');
    headers.append('Authorization', 'Token {{user.auth_token}}');
    fetch('http://127.0.0.1:8000/api/workspaces/{{workspace.id}}/channels/',{
        method: 'GET',
        headers: headers,
    })
        .then(response => {
        if (!response.ok) {
            throw new Error(`Network response was not ok: ${response.statusText}`);
        }
        return response.json();
    })
        .then(data => {
        var channels_html = '';
        var image = "{% static 'images/public_channel_img.png' %}";
        const channels = document.getElementById('chat_items');
        data['channels'].forEach(item=>{
            channels_html+='<div class="chat_item collapsed">'+
                    '<img src="'+image+'" alt="" class="chat_item_img">'+
                    '<p class="chat_item_text">'+item['name']+'</p>'+
                '</div>';
        });
        channels.innerHTML+=channels_html;
        })
        .catch(error => {
        console.error('Error during fetch operation:', error);
    });
</script>
</body>
</html>
