{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рабочие пространства</title>
    <link rel="stylesheet" href="{% static 'css/workspace_style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<script src="{% static 'js/popap_create_workspace.js' %}"></script>
<div class="main">
    <div class="main_workspace">
        <div class="main_workspace_header">
            <div class="main_workspace_header_logo">
                <img class="main_workspace_header_logo_img" src="{% static 'images/workspace_logo_img.png' %}" alt="">
                <p class="main_workspace_header_logo_text">Clark</p>
            </div>
            <div class="main_workspace_header_logo">
                <a href="{% url 'users_logout' %}" class="main_workspace_header_logo_text">выйти</a>
            </div>
        </div>
        <div class="main_workspace_content">
            <div class="main_workspace_content_header">
                <h1 class="main_workspace_content_header_text">
                    Рады вас видеть!
                </h1>
            </div>
            <div class="main_workspace_content_workspaces" id="workspaces">
                <div class="main_workspace_content_workspaces_top">
                    <p class="main_workspace_content_workspaces_top_text" id="user_email">

                    </p>
                    <p class="main_workspace_content_workspaces_top_text">
                        {{error}}
                    </p>
                </div>

            </div>
            <div class="main_workspace_content_create_workspace">
                <div class="main_workspace_content_create_workspace_l">
                    <img src="{% static 'images/workspace_create_icon.png' %}" alt="" class="main_workspace_content_create_workspace_l_img">
                </div>
                <div class="main_workspace_content_create_workspace_r">
                    <div class="main_workspace_content_create_workspace_r_text">
                        <p class="main_workspace_content_create_workspace_r_text_inner">
                            Хотите использовать Clark с другой командой?
                        </p>
                    </div>
                    <div class="main_workspace_content_create_workspace_r_btn">
                        <button onclick="open_popap();" class="main_workspace_content_create_workspace_r_btn_item">Создать пространство</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_create_workspace" id="popap">
        <div class="main_create_workspace_form">
            <form  class="main_create_workspace_form_item" enctype="multipart/form-data" action="{% url 'workspace_create' %}" method="post">
                {% csrf_token %}
                <div class="main_create_workspace_form_item_top">
                    <p class="main_create_workspace_form_item_top_text">
                        Создание нового пространства
                    </p>
                    <a onclick="close_popap();"><img src="{% static 'images/close_create_workspace.png' %}" alt="" class="main_create_workspace_form_item_top_img"></a>
                </div>
                <div class="main_create_workspace_form_item_main">
                    <div class="main_create_workspace_form_item_main_item">
                        <p class="main_create_workspace_form_item_main_item_text">
                            Как называется ваше пространство?
                        </p>
                        <input type="text" class="main_create_workspace_form_item_main_item_text_input" name="name">
                    </div>
                    <div class="main_create_workspace_form_item_main_item">
                        <p class="main_create_workspace_form_item_main_item_text">
                            Чем вы занимаетесь?
                        </p>
                        <input type="text" class="main_create_workspace_form_item_main_item_text_input" name="about">
                    </div>
                    <a onclick="open_image();" id="open_image">
                    <div class="main_create_workspace_form_item_main_item">
                        <p class="main_create_workspace_form_item_main_item_text">
                            Теперь выберите аватар
                        </p>
                        <input type="file" class="image_input_hide" id="image_input" name="image">
                        <div class="main_create_workspace_form_item_main_item_image_block">
                            <p class="main_create_workspace_form_item_main_item_image_block_text">
                                загрузите файл
                            </p>
                            <div class="main_create_workspace_form_item_main_item_image_block_circle">

                            </div>
                        </div>
                    </div>
                        </a>
                </div>
                <div class="main_create_workspace_form_item_bottom">
                    <button class="main_create_workspace_form_item_bottom_btn">Создать пространство</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const headers = new Headers();
    headers.append('Content-Type', 'application/json');
    headers.append('Authorization', 'Token {{user.auth_token}}');
    fetch('http://127.0.0.1:8001/api/users/me/',{
        method: 'GET',
        headers: headers,
    })
        .then(response => {
        if (!response.ok) {
            throw new Error(`Network response was not ok: ${response.statusText}`);
        }
        return response.json();
    })
        .then(data => {
        const userEmail = document.getElementById('user_email');
        userEmail.textContent = 'Рабочие пространства для '+data['email']
        var workspaces_html = '';
        const workspaces = document.getElementById('workspaces');
        data['workspaces'].forEach(item => {
            var workspace_url = ("{% url 'workspace_detail' 0 %}").replace("0",item['id']);
            var image = item['image'];
            var name = item['name'];
            var users_count = item['users_count'];
            var users = '';
            item['users'].forEach(image=>{
                if(image['image']!=null){
                    users += '<img class="main_workspace_content_workspaces_bottom_left_content_right_bottom_images_item"  src="'+image['image']+'" alt="">';
                }
            });
            workspaces.innerHTML+=('{% include "includes/workspace_item.html" with image="image_value" name="name_value" url="workspace_url_value" users="users_value" users_count="users_count_value" %}').replace(
                "image_value",image
            ).replace("name_value",name).replace("workspace_url_value",workspace_url).replace("users_value",users).replace("users_count_value",users_count);
        });
        console.log(workspaces_html)
    })
        .catch(error => {
        console.error('Error during fetch operation:', error);
    });
</script>
</body>
</html>
