<div class="message_block">'+
    '<div class="message_block_left">'+
        '<img src="{{user_image}}" alt="" class="message_avatar">'+
    '</div>'+
    '<div class="message_block_right">'+
        '<div class="message_info">'+
            '<div class="message_author">'+
                '<p class="author_name">{{user_email}}</p>'+
                '<p class="message_created_at">{{created_at}}</p>'+
            '</div>'+
            '<div class="message_text">'+
                '<p class="message_text_inner">'+
                    '{{text}}'+
                '</p>'+
            '</div>'+
            '<div class="message_threads">'+
            '</div>'+
        '</div>'+
    '</div>'+
'</div>