<div class="main_workspace_content_workspaces_bottom">'+
    '<div class="main_workspace_content_workspaces_bottom_left">'+
        '<div class="main_workspace_content_workspaces_bottom_left_content">'+
            '<div class="main_workspace_content_workspaces_bottom_left_content_left">'+
               '<img class="main_workspace_content_workspaces_bottom_left_content_left_img" src="  {{image}}  " alt="">'+
            '</div>'+
            '<div class="main_workspace_content_workspaces_bottom_left_content_right">'+
                '<div class="main_workspace_content_workspaces_bottom_left_content_right_top">'+
                    '<p class="main_workspace_content_workspaces_bottom_left_content_right_top_title">{{name}}</p>'+
                '</div>'+
                '<div class="main_workspace_content_workspaces_bottom_left_content_right_bottom">'+
                    '<div class="main_workspace_content_workspaces_bottom_left_content_right_bottom_images">'+
                        '{{users}}'+
                    '</div>'+
                    '<div class="main_workspace_content_workspaces_bottom_left_content_right_bottom_info">'+
                        '<p class="main_workspace_content_workspaces_bottom_left_content_right_bottom_info_text"> {{users_count}} участника</p>'+
                    '</div>'+
                '</div>'+
            '</div>'+
        '</div>'+
    '</div>'+
    '<div class="main_workspace_content_workspaces_bottom_right">'+
        '<div class="main_workspace_content_workspaces_bottom_right_link">'+
            '<a href="{{url}}" class="main_workspace_content_workspaces_bottom_right_link_item">Запустить Clark</a>'+
        '</div>'+
    '</div>'+
'</div>