html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

a{
    text-decoration:none;
}

body {
  background-image: url('../images/main_background_image.png');
  background-size: cover;
  background-size: 853px;
  background-position: top right -50px;
  background-position-y: calc(5px + 1280px);
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.main_page{
    margin:auto;
    width:1500px;
    background-image: url('../images/main_background_image_footer.png');
    background-size: 1400px 400px;
    background-position-x: calc(5px + 40px);

    background-position-y: calc(5px + 700px);
    background-repeat: no-repeat;
}

.main_header{
    height:129px;
    width:100%;
    line-height: 129px;
    display:inline-flex;
    justify-content:space-between;
}

.main_header_logo{
    display:inline-flex;
}

.main_header_logo_img{
    height:43px;
    width:45px;
    margin:auto;
}

.main_header_logo_text{
    color: #313131;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin:auto;
    padding-left:10px;
}

.main_header_btn{
    display:flex;
}

.main_header_btn_container{
    height:55px;
    width:183px;
    display:flex;
    margin:auto
}

.main_header_btn_container_link{
    margin:auto;
}

.main_header_btn_container_link:hover{
    border-radius: 15px;
    background: linear-gradient(85deg, #CF384C 0%, #E3946E 100%);
}

.main_header_btn_container_link:hover .main_header_btn_container_text {
    color: #FFFFFF;
    transition: color 0.5s;
}

.main_container{
    display:flex;
    justify-content:space-between;
    margin-bottom:132px;
}

.main_header_btn_container_text{
    color: #CE364B;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:auto;
}

.main_container_left_title{
    width:820px;
    margin-top:60px;
    margin-bottom:40px;
}

.main_container_left_title_text{
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_container_left_title_text_red{
    color: #CD324A;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_container_left_content{
    margin-bottom:57px;
}

.main_container_left_content_text{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_container_left_btn{
    width: 409px;
    height: 63px;
    border-radius: 100px;
    background: linear-gradient(89deg, #CD3049 0%, #E49970 100%);
    display:flex;
}

.main_container_left_btn_link{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:auto;
}

.main_container_right{
    margin-left:260px;
}

.main_container_statistic{
    display:flex;
    width:1200px;
    margin:auto;
    justify-content:space-between;
}

.main_container_statistic_block{
    height:190px;
    text-align:center;
}

.main_container_statistic_block_top{
   height:85px;
   margin-bottom:48px;
}

.main_container_statistic_block_bottom{
   height:48px;
}

.main_container_statistic_block_top_text{
    color: #CD314A;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_container_statistic_block_bottom_text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_container_about{
    margin-top:145px;
}

.main_container_about_block{
    display:flex;
    height:310px;
    justify-content:space-between;
    margin-bottom:113px;
}

.main_container_about_block_box_left{
    width: 538px;
    border-radius: 0px 150px 150px 0px;
    background: linear-gradient(89deg, #CD324A 0%, #E49A70 100%);
}

.main_container_about_block_box_right{
    width: 538px;
    border-radius: 150px 0px 0px 150px;
    background: linear-gradient(89deg, #CD324A 0%, #E49A70 100%);
}

.main_container_about_block_text_right{
    width:760px;
    margin:auto;
}

.main_container_about_block_text_left{
    width:760px;
    margin:auto;
}

.main_container_about_block_text_right_title{
    margin-bottom:25px;
}

.main_container_about_block_text_right_title_text{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_container_about_block_text_right_content_text{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_footer{
    height:234px;
    border-radius: 50px 50px 0px 0px;
    background: #FFF;
}

.main_footer_container{
    height:100%;
    width:1500px;
    display:flex;
    margin:auto;
}

.main_footer_container_logo{
    margin:auto;
}

.main_footer_container_content{
    width:727px;
    margin:auto;
}

.main_footer_container_content_top{
    display:flex;
    justify-content:space-between;
}

.main_footer_container_content_top_item{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_footer_container_icons{
    width:222px;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.main_footer_container_content_bottom{
    margin-top:29px;
    text-align:center;
}

.main_footer_container_content_bottom_text{
    color: #1F1F1F;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}